/* ******************* */
/*     EXPLANATION     */
/* ******************* */
#explanation {
  padding: 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .content {
    /* 328px - 465px */
    width: clamp(20.5rem, 17.485rem + 12.8638vw, 29.0625rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  img {
    width: clamp(23.4375rem, 19.2782rem + 17.7465vw, 35.25rem);
  }
}

/* TABLET */
@media only screen and (min-width: 48rem) {
  #explanation {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

/* DESKTOP */
@media only screen and (min-width: 64rem) {
  #explanation {
    .image-container {
      height: 533px;
    }
    .content {
      margin-bottom: 2rem;
    }
  }
}

/* ******************* */
/*      CARD GRID      */
/* ******************* */

#card-grid {
  padding: 2rem var(--page-padding) 4rem; /* TODO: REVIEW PADDING*/
  background: var(--blue-gradient-light); /* TODO: SET OPACITY OF 0.25 SOMEHOW*/

  h3 {
    margin-bottom: -0.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin: 0 auto;
  }

  .card {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  img {
    width: auto;
  }
}

@media only screen and (min-width: 64rem) {
  #card-grid {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem 2rem;
    }
  }
}
